@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --indigo-dye: #17467bff;
    --cadet-gray: #93a3b5ff;
    --oxford-blue: #02162dff;
    --rich-black: #010b16ff;
    --berkeley-blue: #0b2e53ff;

    --color-primary: var(--indigo-dye);
    --color-primary--dark: var(--oxford-blue);
    --color-secondary: var(--berkeley-blue);
    --color-secondary--dark: var(--rich-black);
    --color-tertiary: var(--cadet-gray);

    --headerHeight: 70px;
    --footerHeight: 70px;
  }

  html {
    font-family:
      Roboto,
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      'Helvetica Neue',
      Arial,
      'Noto Sans',
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      'Noto Color Emoji';
  }

  body {
    height: 100vh;
  }

  #__nuxt {
    height: 100%;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(16px);
}
